<header>
    <!-- <h2><strong>SAMIR</strong> ROMDHANI</h2> -->
    <!-- https://tympanus.net/Tutorials/CSS3ContentTabs/index.html
    https://pranambhat.github.io -->
    <!-- <h2><strong>SAMIR</strong> ROMDHANI</h2> -->

    <!-- <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span class="d-block d-lg-none">Samir Romdhani</span>
            <span class="d-none d-lg-block"><img class="img-fluid img-profile rounded-circle mx-auto mb-2"
                    src="assets/img/profile.jpg" alt="" /></span>
        </a>
    </nav> -->

    <section class="resume-section">
        <div class="resume-section-content">
            <h3 class="mb-0">
                Samir
                <span class="text-primary">Romdhani</span>
            </h3>
            <h4>Full Stack Developer | Open Source Enthusiast</h4>
        </div>
    </section>
</header>
