
<nav class="navbar navbar-expand-lg">
  <a class="navbar-brand" href="#">
    <div class="titlesamirromdhani">
      <canvas id="renderAuthor"></canvas>
    </div>
  </a>
  <button type="button" class="navbar-toggle collapsed" 
  data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
    <span class="sr-only">Toggle navigation</span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
    <span class="icon-bar"></span>
  </button>
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav navbar-right main-nav">
      <li><a href="#intro">Home</a></li>
      <li><a href="#services">About ME</a></li>
      <li><a href="#blog" class="btn btn-blog">Angular</a></li>
      <li><a href="#blog2" class="btn btn-blog">JAVA</a></li>
      <li><a href="#blog3" class="btn btn-blog">Spring</a></li>
      <li><a href="#blog4" class="btn btn-blog">JWT</a></li>
      <li><a href="#" data-toggle="modal"
          data-target="#modal1" class="btn btn-blue">Kubernetes</a></li>
    </ul>
  </div>
</nav>


<!--
<nav class="navbar">
  <div class="">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" 
      data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="titlesamirromdhani">
          <canvas id="renderAuthor"></canvas>
          </div>
        -->
          <!--
          <a class="navbar-brand" href="#">
            <img data-active-url="../../assets/img/logo-active.png"
             alt=""></a>
          -->
        <!--
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right main-nav">
        <li><a href="#intro">Home</a></li>
        <li><a href="#services">About ME</a></li>
        <li><a href="#blog" class="btn btn-blog">Angular</a></li>
        <li><a href="#" data-toggle="modal"
            data-target="#modal1" class="btn btn-blue">Kubernetes</a></li>
      </ul>
    </div>
  </div>
</nav>
-->
<header id="intro">
  <div class="container">
    <div class="table">
      <div class="header-text">
        <div class="row">
          <div class="col-md-12 text-center">
            <h1 class="white typed">How it all began...</h1>
            <span class="typed-cursor">_</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>
