<footer class="footer">
  
  <p>Made with <i class="fa fa-heart"></i> in Paris </p>
  
  <!--
  <div class="container">
    <div class="row bottom-footer text-center-mobile">
      <div class="col-sm-8">
           <p>&copy; 2015 All Rights Reserved. Powered by <a href="http://www.phir.co/">PHIr</a> exclusively for <a href="http://tympanus.net/codrops/">Codrops</a></p>
        </div>
        <div class="col-sm-4 text-right text-center-mobile">
          <ul class="social-footer">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  -->
  </footer>
  <div class="mobile-nav">
    <ul>
    </ul>
    <a href="#" class="close-link"><i class="arrow_up"></i></a>
  </div>
