<section class="fdb-block" data-block-type="contents" data-id="2" draggable="true">
    <div class="col-fill-right"
     style="background-image: url(assets/img/spin.jpeg);">
    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-5 text-center">
            <div class="preloader" *ngIf="visible == false">
                <img src="assets/img/loader.gif" alt="Preloader image">
            </div>
          <canvas id="renderAuthor"></canvas>
          <p>
            <a href="https://www.linkedin.com/in/samirromdhani" class="mx-2" target="_blank"><i class="fab fa-linkedin-in"></i></a>
            <a href="https://www.youracclaim.com/users/samir-romdhani/badges" class="mx-2" target="_blank"><i class="fa fa-link"></i></a>
            <a href="https://github.com/cell4rom" class="mx-2" target="_blank"><i class="fa fa-github"></i></a>
            <a href="https://twitter.com/cell4rom" class="mx-2" target="_blank"><i class="fa fa-twitter"></i></a>
            <a href="https://www.instagram.com/romdhani_samir" class="mx-2" target="_blank"><i class="fa fa-instagram"></i></a>
          </p>
        </div>
      </div>
    </div>
  </section>
