<div class="row">
  <div class="col-3"></div>
  <div class="col-6">
    <section>
      <article id="article0" class="intro-table intro-table-hover">
              <h4>Angular</h4>
          <header>
            <h1>Articles About Angular</h1>
          </header>
                <post></post>
                <div class="bottom">
                    <a href="#" class="btn btn-discover expand">Discover</a>
                  </div>
          <footer>
            <h2 class="white heading hide-hover">Article Footer</h2>
          </footer>
      </article>
      </section>
  </div>
  <div class="col-3"></div>
  <div class="col-12">
    <section>
      <article id="article0" class="intro-table intro-table-hover">
              <h4>Kubernetes</h4>
          <header>
            <h1>Kubernets</h1>
          </header>
                <post></post>
                <div class="bottom">
                    <a href="#" class="btn btn-discover expand">Discover</a>
                  </div>
          <footer>
            <h2 class="white heading hide-hover">Article Footer</h2>
          </footer>
      </article>
      </section>
  </div>
</div>

