@import '~highlight.js/styles/github.css';
@import '~highlight.js/styles/vs.css';
@import '~highlight.js/styles/idea.css';
/*@import '~highlight.js/styles/xcode.css';*/
section {
	position: relative;
  width: 100%;
  margin-left: 15%;
  margin-right: 15%;
  }
article {
  background-color: #eee;
  display:block;

  width: 60%;
  margin: 10px;
  padding: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  }
  article header {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  }
  article footer {
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  padding: 5px;
  }
  article h1 {
  font-size: 18px;
  }
  article h4 {
    color: rgb(252, 69, 63);
    background-color: #fff;
    -webkit-box-shadow: 2px 2px 20px #888;
    -webkit-transform: rotate(-45deg);
    -moz-box-shadow: 2px 2px 20px #888;
    -moz-transform: rotate(-45deg);
    position: absolute;
    padding: 0px 100px;
    top: 50px;
    left: -40px;
    text-align:center;
    }

    /*
  #article0 {
    background: #00a8ff url('../../vender/img/article0/post0/post0.png') no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    -webkit-transition: background-image 0.6s linear 0.3s;
    transition: background-image 0.6s linear 0.3s;
  }
  */
/* */


.intro-table {
	-webkit-background-size: cover;
	background-size: cover;
	background-repeat: repeat;
	background-position: 0% 0%;
}

.intro-table-first {
	background-image: url('../../../src/styles/vender/img/article0/post0/post0.png');
}

.intro-table-hover {
	-webkit-transition: background-image 0.3s ease, background-position 0.3s;
	transition: background-image 0.3s ease, background-position 0.3s;
	background-image: url('../../../src/styles/vender/img/article0/post0/post0.png');
}

.intro-table-hover h3 {
	-webkit-transform: translateY(170px);
	transform: translateY(170px);
	-webkit-transition: -webkit-transform 0.3s;
	transition: transform 0.3s;
}

.intro-table-hover:hover {
	background-image: url('../../../src/styles/vender/img/article0/post0/post01.png');
  background-position: 40% 40%;
  z-index: 10;
  position: relative;
}

.intro-table-third {
	background-image: url('../../../src/styles/vender/img/article0/post0/post01.png');
}

.intro-table-hover .expand {
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s ease, opacity 0.3s;
	-webkit-transform: scale(0.6);
	-ms-transform: scale(0.6);
	transform: scale(0.6);
}

.intro-table-hover:hover h4 {
	-webkit-transform: translateY(0);
  transform: translateY(0);
  -webkit-transition: -webkit-transform 0.6s;
	transition: transform 0.6s;
}

.intro-table-hover:hover .expand {
	opacity: 1;
	-webkit-transform: scale(1);
	-ms-transform: scale(1);
	transform: scale(1);
}

.intro-table-hover .hide-hover {
	-webkit-transition: opacity 0.3s ease;
	transition: opacity 0.3s ease;
}

.intro-table-hover:hover .hide-hover {
	opacity: 0;
}

.btn {
	font-size: 18px;
	display: inline-block;
	padding: 15px 30px;
	color: white;
	border: 2px solid transparent;
	border-radius: 2px;
	background: transparent;
	-webkit-transition: all 0.3s ease;
	transition: all 0.3s ease;
}

.btn.btn-discover {
	background: #7095fa;
}