

<div class="row">
  <div class="col-12">
   <!--<app-layout></app-layout>-->
   <app-custom-layout></app-custom-layout>
  </div>
</div>
<div id="blog" class="section section-padded">
</div>

<!--
<div class="row">
  <div class="col-3">
  </div>
  <div class="col-3">
    <div class="clearfix">
      <div class="float-left"><strong>50%</strong></div>
      <div class="float-right"><small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small></div>
    </div>
    <div class="progress progress-xs">
      <div class="progress-bar bg-success" role="progressbar" style="width: 50%" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-3">
    <div class="clearfix">
      <div class="float-left"><strong>98%</strong></div>
      <div class="float-right"><small class="text-muted">Jun 11, 2015 - Jul 10, 2015</small></div>
    </div>
    <div class="progress progress-xs">
      <div class="progress-bar bg-danger" role="progressbar" style="width: 98%" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100"></div>
    </div>
  </div>
  <div class="col-3"></div>
</div>
-->
<!--
<app-footer></app-footer>
-->
<app-custom-footer></app-custom-footer>
<router-outlet></router-outlet>
